<html>
  <link rel="stylesheet" href="/styles.css" />
  <body class="details-body">
    <%- include('header.ejs') %>
    <main class="main-details">
      <div class="details-card">
        <h1 class="details-heading">Message Details</h1>
        <div class="details-heading-text-group name-group">
          <h2 class="details-name-heading">Name:</h2>
          <p class="details-name"><%= message.name %></p>
        </div>
        <div class="details-heading-text-group message-group">
          <h2 class="details-message-heading">Message:</h2>
          <p class="details-text"><%= message.message %></p>
        </div>
        <div class="details-heading-text-group">
          <h2 class="details-date-heading">Date Posted</h2>
          <p class="details-date"><%= message.date %></p>
        </div>
      </div>
    </main>
    <%- include('footer.ejs') %>
  </body>
</html>
