<html>
  <link rel="stylesheet" href="/styles.css" />
  <body>
    <%- include('header.ejs') %>
    <div>
      <h1>Message Details</h1>
      <h2>Name:</h2>
      <p><%= message.name %></p>
      <h2>Message:</h2>
      <p><%= message.text %></p>
      <h2>Date Posted</h2>
      <p><%= message.added %></p>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
